
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env

# Cucumber Reports
/reports/
/allure-results/
/allure-report/

# Environment & Downloads
downloads/

# Mocha / Reporting
/mochawesome-report/
*.log

# Operating System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
